# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs / results
logs/
results/
*.log
*.csv

# AWS / credentials
*.pem
*.key
.aws/
credentials
config

# IDE
.vscode/
.idea/

# Build / packaging
dist/
build/
*.egg-info/

# Temp
*.tmp
*.swp
